<ion-view title="Linkedin">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/CYIgwzIJQAOZLi6yb62H_trial.png">
                <h2>Free Trial (Linkedin)</h2>
                <p>Expires on 23/01/2016</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <label class="item item-input" name="expiry_date">
                <span class="input-label">Change Expiry Date:</span>
                <input type="date" placeholder="23/01/2016">
            </label>
            <label class="item item-input" name="person">
                <span class="input-label">Person:</span>
                <input type="text" placeholder="Tom">
            </label>
            <label class="item item-input" name="ref">
                <span class="input-label">Ref:</span>
                <input type="text" placeholder="3456789">
            </label>
            <label class="item item-input" name="ref">
                <span class="input-label">Contact Number:</span>
                <input type="tel" placeholder="02076545685">
            </label>
        </ion-list>
        <form class="list"></form>
        <button class="button button-stable button-block ">Add file</button>
    </ion-content>
</ion-view>