<ion-view>
    <ion-content overflow-scroll="true" padding="false" class="has-header" ng-controller="openCtrl">

        <form class="list">
            <ion-input class="item item-input">
                <i class="icon ion-android-globe"></i>
                <ion-label>&nbsp Company:</ion-label>
                <input type="text" style="text-align: right" ng-model="cont.company" required>
            </ion-input>

            <label class="item item-input widget uib_w_9 d-margins" data-uib="ionic/input" data-ver="0" ng-click="showDatePicker('expiry')">
                <i class="icon ion-ios-calendar-outline"></i>
                <span class="input-label">&nbsp Expiry Date:</span>
                <input type="text" style="text-align: right" placeholder="dd/mm/yyyy" ng-model="cont.stringExp" ng-readonly="true">
            </label>

            <label class="item item-input" ng-click="showDatePicker('remind')">
                <i class="icon ion-android-notifications"></i>
                <span class="input-label">&nbsp Remind Me On:</span>
                <input type="text" style="text-align: right" placeholder="dd/mm/yyyy" ng-model="cont.stringRem" ng-readonly="true">
            </label>

            <ion-input class="item item-input">
                <i class="icon ion-compose"></i>
                <ion-label>&nbsp Reference:</ion-label>
                <input type="text" style="text-align: right" ng-model="cont.ref">
            </ion-input>

            <ion-input class="item item-input">
                <i class="icon ion-ios-telephone"></i>
                <ion-label>&nbsp Contact Number:</ion-label>
                <input type="tel" style="text-align: right" ng-model="cont.contact_number">
            </ion-input>

            <ion-input class="item item-input">
                <i class="icon ion-email"></i>
                <ion-label>&nbsp Email:</ion-label>
                <input type="email" style="text-align: right" ng-model="cont.email">
            </ion-input>

            </label>

            <label class="item item-input item-select">
                <i class="icon ion-person"></i>
                <div class="input-label">
                    &nbsp&nbspAssign To:
                </div>
                <select ng-model="cont.person" ng-options="o as o for o in people">
                </select>
            </label>

            <label class="item item-input item-select">
                <i class="icon ion-grid"></i>
                <div class="input-label">
                    &nbsp&nbspCategory:
                </div>
                <select ng-model="cont.type">
                    <option>Phone</option>
                    <option>Trial</option>
                    <option>Voucher</option>
                    <option>Gym</option>
                    <option>Passport</option>
                    <option>Other</option>
                </select>
            </label>


        </form>

        <!-- <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
            <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;" />
        </ion-scroll> -->
        <div class="button-bar">
            <a href="#/timeline" class="button icon ion-close-circled button-assertive">&nbspCancel</a>
            <a class="button icon ion-ios-checkmark button-positive" ng-click="save()">&nbspSave</a>
        </div>
    </ion-content>
</ion-view>

<!--
  

-->