<ion-view hide-nav-bar="true" class="peoples body-bg">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">People</h1>
    </ion-header-bar>
    <ion-content class="has-header padding full-height">
        <div class="peoples-add">
            <ion-list class="list">
                <a class="item" ng-repeat="person in people">
              <span>
              	<i class="alfa">
                	<h3>{{getInitials(person)}}</h3>
                 </i>
               </span>
                        <h2>{{person}}</h2>
                        <div class="arrow-left"><img src="img/down-arrow.png"></div>
                </a>
            </ion-list>
        </div>

        <!--<ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
         <img ng-repeat="image in images" ng-if="image.id==cont.id" style="width:50%; padding: 5px 5px 5px 5px;" ng-src="{{urlForImage(image.photo)}}">
     </ion-scroll>-->

    </ion-content>
</ion-view>
