<ion-view title="Timeline">

    <ion-content overflow-scroll="true" padding="false" class="has-header" ng-controller="ListCtrl">
        <span class="text-center"><ion-item class="item-divider">Upcoming</ion-item></span>
        <ion-list>
        <div ng-repeat="cont in conts">
            <ion-item class="item-thumbnail-left item-remove-animate"  ng-click="toggleCont(cont)" ng-class="{active: isContShown(cont)}">
                <img src="img/{{cont.type}}.png">
                <br><span>{{cont.type}} ({{cont.company}})</span>
                <p>Expires
                    <span ng-show="{{daysLeft(cont.ExpDate)}}==0">Today</span>
                    <span ng-show="{{daysLeft(cont.ExpDate)}}==1">in 1 day</span>
                    <span ng-show="{{daysLeft(cont.ExpDate)}}>1"> in <td>{{daysLeft(cont.ExpDate)}}</td> days</span> - {{cont.stringExp}}</p>
            <ion-option-button class="button-assertive icon ion-trash-b" ng-click="remove(cont.id)">&nbspDelete</ion-option-button>
            </ion-item>
            </ion-list>

            <ion-list class="item-text-wrap" ng-show="isContShown(cont)">

                <ion-item class="item-icon-left">
                    <i class="icon icon-right ion-person"></i>Assigned To
                    <span class="item-note">{{cont.person}}</span>
                </ion-item>

                <ion-item class="item-icon-left">
                    <i class="icon ion-compose"></i>Reference:
                    <span class="item-note">{{cont.ref}}</span>
                </ion-item>

                <ion-item class="item-icon-left">
                    <i class="icon ion-ios-telephone"></i>Contact Number:
                    <span class="item-note">{{cont.contact_number}}</span>
                </ion-item>

                <ion-item class="item-icon-left">
                    <i class="icon ion-email"></i>Email Address:
                    <span class="item-note">{{cont.email}}</span>
                </ion-item>

                <ion-item class="item-icon-left" ng-show="cont.notes">
                    <i class="icon ion-edit"></i>Notes:
                    <br> {{cont.notes}}
                </ion-item>

                <span class="text-center">
            <a href="#/open/{{cont.id}}"><button class="button button-block button-positive">Edit</button></a>
        </span>

            </ion-list>

            </ion-item>
        </div>

        <!-- <button class="button" ng-click="add()">Add notification</button> -->
        <!--

        <ion-list>
            <ion-item class="item-thumbnail-left card" ng-repeat="cont in conts" ng-click="toggleCont(cont)" ng-class="{active: isContShown(cont)}">
            <img src="img/{{cont.type}}.png">
            <br>
                <h2>{{cont.type}} ({{cont.company}})</h2>
                <p>Expires in 16 days</p>
            </ion-item>
            
            <ion-item ng-repeat="item in cont" ng-show="isContShown(cont)">
                    {{item}}
                </ion-item>
            
            <ion-item class="item-divider">Expired</ion-item>
            <ion-item class="item-thumbnail-left" href="#/page9">
                <img src="img/gym.png">
                <h2>Gym (LA Fitness)</h2>
                <p>Expired 12 days ago</p>
            </ion-item>
        </ion-list>
        -->
    </ion-content>
</ion-view>