<ion-view title="Timeline" class="timeline body-bg">

    <ion-content padding="false" class="has-header" ng-controller="ListCtrl">

        <ion-list>
            <div class="timeline-add">
                <h2>UPCOMING</h2>
                    <div ng-repeat="cont in conts" id="accordion" ng-click="toggleCont(cont)"
                         ng-class="{active: isContShown(cont)}">
                        <div class="time-bgs">
                            <div class="time-header">
                		<span class="iconbg">
                        	<i class="alfa">
                                <img src="img/tag.png">
                             </i>
                        </span>
                                <div class="timeline-title">
                                    <h4>{{cont.type}} ({{cont.company}})</h4>
                                    <b>Expires in {{cont.ExpDate | amDifference : null : 'days' }} days -
                                        {{cont.stringExp}}</b>
                                    <div class="down-arrow"><img src="img/down-arrow.png"></div>
                                </div>
                            </div>
                        </div>

                        <div class="time-bg" ng-show="isContShown(cont)">
                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label">Contact Number</span>
                                            <input type="text" disabled value="{{cont.contact_number}}">
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label">Reference</span>
                                            <input type="text" disabled value="{{cont.ref}}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label">Email</span>
                                            <input type="email" disabled value="{{cont.email}}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label"
                                                                                                 aria-label="Assign To"
                                                                                                 id="_label-7">Assigned To</span>
                                            <select disabled>
                                                <option selected="" value="{{cont.person}}">{{cont.person}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a class="button button-icon icon ion-settings"></a>
                                    <span class="button-center">
                                        <a href="#/open/{{cont.id}}">
                                            <button class="button button-positive">Edit</button>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline-add">
                <h2>EXPIRED</h2>
                <div ng-repeat="cont in expired">

                    <div id="accordion-expired" ng-click="toggleCont(cont)"
                         ng-class="{active: isContShown(cont)}">
                        <ion-item class="time-bgs">
                            <div class="time-header">
                		<span class="iconbg">
                        	<i class="alfa">
                                <img src="img/tag.png">
                             </i>
                        </span>
                                <div class="timeline-title">
                                    <h4>{{cont.type}} ({{cont.company}})</h4>
                                    <b>Expired <span am-time-ago="cont.ExpDate"></span> - {{cont.stringExp}}</b>
                                    <div class="down-arrow"><img src="img/down-arrow.png"></div>
                                </div>
                            </div>
                            <ion-option-button ng-click="remove(cont.id)">
                                &nbspDelete
                            </ion-option-button>
                        </ion-item>

                        <div class="time-bg" ng-show="isContShown(cont)">
                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label">Contact Number</span>
                                            <input type="text" disabled value="{{cont.contact_number}}">
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label">Reference</span>
                                            <input type="text" disabled value="{{cont.ref}}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label">Email</span>
                                            <input type="email" disabled value="{{cont.email}}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="list">
                                        <label class="item item-input item-stacked-label"> <span class="input-label"
                                                                                                 aria-label="Assign To"
                                                                                                 id="_label-7-expired">Assigned To</span>
                                            <select disabled>
                                                <option selected="" value="{{cont.person}}">{{cont.person}}</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <a class="button button-icon icon ion-settings"></a>
                                    <div class="button-center">
                                        <a href="#/open/{{cont.id}}">
                                            <button class="button button-positive">Edit</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
