<ion-view>
    <ion-content scroll="false" class="bg-intro" horizontal layout center center-justified>
        <div>
            <div class="logo-login">
                <img src="./img/logo.png" alt="" class="img-responsive"/>
            </div>
            <div class="slogan">
                Unlock Best Savings
            </div>
            <div class="password" horizontal layout center center-justified>
                <span ng-class="{active: password>1}"></span>
                <span ng-class="{active: password>2}"></span>
                <span ng-class="{active: password>3}"></span>
                <span ng-class="{active: password>4}"></span>
            </div>
            <div class="keyboard-login">
                <ul>
                    <li>
                        <div class="number-key" ng-click="login()">
                            1
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            2
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            3
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            4
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            5
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            6
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            7
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            8
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            9
                        </div>
                    </li>
                    <li class="visible-hidden">
                        <div class="number-key">
                            0
                        </div>
                    </li>
                    <li>
                        <div class="number-key" ng-click="login()">
                            0
                        </div>
                    </li>
                    <li class="visible-hidden">
                        <div class="number-key">
                            0
                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>
