<div class="days" horizontal layout>
    <div flex class="text-center day-active">
        <div class="th">
            S
        </div>
        <div class="day">
            22
        </div>
    </div>
    <div flex class="text-center day-active">
        <div class="th">
            M
        </div>
        <div class="day">
            23
        </div>
    </div>
    <div flex class="text-center day-active">
        <div class="th">
            T
        </div>
        <div class="day">
            24
        </div>
    </div>
    <div flex class="text-center day-active active">
        <div class="th">
            W
        </div>
        <div class="day">
            25
        </div>
    </div>
    <div flex class="text-center">
        <div class="th">
            T
        </div>
        <div class="day">
            26
        </div>
    </div>
    <div flex class="text-center">
        <div class="th">
            F
        </div>
        <div class="day">
            27
        </div>
    </div>
    <div flex class="text-center">
        <div class="th">
            S
        </div>
        <div class="day">
            28
        </div>
    </div>
</div>

<div class="total-calendar">
    <div horizontal layout center class="in-come padding-b-5">
        <div flex class="name color-gray-blue">Income</div>
        <div class="price energized">-$387.00</div>
    </div>
    <div horizontal layout center class="in-come padding-b-5">
        <div flex class="name color-gray-blue">Expense</div>
        <div class="price balanced">$470.00</div>
    </div>
    <div horizontal layout center class="total-plus padding-b-5 bold">
        <div flex class="name color-black-blue">Total</div>
        <div class="price balanced">$83.00</div>
    </div>
</div>
<div class="list-report">
    <ul>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar calm-bg">
                <i class="ion ion-social-codepen"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Poker Game</div>
                <div class="font-size-md color-gray-blue">06:00 PM</div>
            </div>
            <div class="m-r-10 b-b-gray" >
                <div class="price-report-calendar bold energized">-$220.00</div>
                <div class="font-size-md color-wallet" horizontal layout end-justified>Wallet</div>
            </div>
        </li>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar balanced-bg">
                <i class="ion ion-bag"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Shopping</div>
                <div class="font-size-md color-gray-blue">06:00 PM</div>
            </div>
            <div class="m-r-10 b-b-gray" vertical layout end>
                <div class="price-report-calendar bold balanced">-$250.00</div>
                <div class="font-size-md color-wallet">Citibank Debit Card</div>
            </div>
        </li>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar energized-bg">
                <i class="ion ion-model-s"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Refuel</div>
                <div class="font-size-md color-gray-blue">05:00 PM</div>
            </div>
            <div class="m-r-10 b-b-gray" vertical layout end>
                <div class="price-report-calendar bold energized">-70.00</div>
                <div class="font-size-md color-wallet">Wallet</div>
            </div>
        </li>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar assertive-bg">
                <i class="ion ion-coffee"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Drink Coffe</div>
                <div class="font-size-md color-gray-blue">02:00 AM</div>
            </div>
            <div class="m-r-10 b-b-gray" vertical layout end>
                <div class="price-report-calendar bold energized">-$5.00</div>
                <div class="font-size-md color-wallet">Wallet</div>
            </div>
        </li>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar royal-bg">
                <i class="ion ion-knife"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Have Lunch</div>
                <div class="font-size-md color-gray-blue">12:00 AM</div>
            </div>
            <div class="m-r-10 b-b-gray" vertical layout end>
                <div class="price-report-calendar bold energized">-$34.00</div>
                <div class="font-size-md color-wallet">Wallet</div>
            </div>
        </li>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar calm-bg">
                <i class="ion ion-social-codepen"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Poker Game</div>
                <div class="font-size-md color-gray-blue">06:00 PM</div>
            </div>
            <div class="m-r-10 b-b-gray" vertical layout end>
                <div class="price-report-calendar bold balanced">$220.00</div>
                <div class="font-size-md color-wallet">Wallet</div>
            </div>
        </li>
        <li horizontal layout center ng-click="openModalDetail()">
            <div class="icon-report-calendar calm-bg">
                <i class="ion ion-social-codepen"></i>
            </div>
            <div flex class="b-b-gray">
                <div class="color-black-blue bold-md">Poker Game</div>
                <div class="font-size-md color-gray-blue">06:00 PM</div>
            </div>
            <div class="m-r-10 b-b-gray" vertical layout end>
                <div class="price-report-calendar bold balanced">$220.00</div>
                <div class="font-size-md color-wallet">Wallet</div>
            </div>
        </li>
    </ul>
</div>