<div class="header-budget" horizontal layout>
    <div flex class="text-center">
        <div class="uppercase color-budget">
            budgets
        </div>
        <div class="bold calm">
            $8,000.00
        </div>
    </div>
    <div flex class="text-center center-border">
        <div class="uppercase color-budget">
            spent
        </div>
        <div class="bold energized">
            $4,200.00
        </div>
    </div>
    <div flex class="text-center">
        <div class="uppercase color-budget">
            left
        </div>
        <div class="bold dark">
            $3,400.00
        </div>
    </div>
</div>

<canvas id="line" class="chart chart-line" chart-data="data.dataBudgets"
        chart-labels="data.labelsBudgets">
</canvas>

<div class="label-budget" horizontal layout center>
    <div class="icon-report-calendar energized-bg">
        <i class="ion ion-cash"></i>
    </div>
    <div flex>
        <div class="color-black-blue bold-md">HIGH EXPENSE</div>
        <div class="font-size-md color-gray-blue">Sunday, March 8</div>
    </div>
    <div class="m-r-10" vertical layout end>
        <div class="price-report-calendar bold energized">-$595.00</div>
    </div>
</div>
<div class="label-budget" horizontal layout center>
    <div class="icon-report-calendar calm-bg">
        <i class="ion ion-cash"></i>
    </div>
    <div flex>
        <div class="color-black-blue bold-md">LOW EXPENSE</div>
        <div class="font-size-md color-gray-blue">Wednesday, March 22</div>
    </div>
    <div class="m-r-10" vertical layout end>
        <div class="price-report-calendar bold energized">-$124.00</div>
    </div>
</div>