<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <form class="list">
            <ion-item class="item-divider">Reminder Settings</ion-item>
            <label class="item item-input" name="numdays">
                <span class="input-label">Days before expiration:</span>
                <input type="number" placeholder="3">
            </label>
            <ion-toggle toggle-class="toggle-balanced" ng-checked="true" name="pro">Upgrade to pro</ion-toggle>
        </form>
        <button class="button icon button-block button-balanced ion-ios-refresh" ng-click="restoreConts()">&nbspRestore Deleted Contracts</button>
    </ion-content>
</ion-view>
